/* Start General settings */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800&display=swap');

*{
	scroll-behavior: smooth;
	font-family: 'Montserrat';
}

body{
	background: url('../img/bg1.png');
	background-position: top;
    background-size: cover;
	background-repeat: no-repeat;
	color: white;
	
}

a{
	color: rgb(0, 0, 0);
}

a:hover{
	color: rgb(223, 121, 53) !important;
	text-decoration: none;
}

.fixed {
	background-image: url('../img/bg2.jpg');
	z-index: -1;
}

.fixed-background h3 {
	margin-bottom: 2rem;
}

.fixed-background p {
	margin-top: 1.5rem;
}

.landing {
	position: relative;
	width: 100%;
	height: 100vh;
	display: table;
	z-index: -1;
  }
  
.home-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
  .home-inner {
	position: fixed;
	display: table;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
			transform: translateZ(0);
	will-change: transform;
  }

/* End General settings */
/* Start navbar */

.navbar {
	text-transform: uppercase;
	font-weight: 400;
	font-size: .75rem;
	letter-spacing: .1rem;
	background: rgb(255, 255, 255) !important;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 16%);
}

.navbar-brand{
	color: black !important;
	font-weight: 700;
}

.navbar-custom .navbar-nav .nav-link {
	color: rgb(0, 0, 0) !important;
	padding: .7rem 3rem .7rem 1rem;
	font-weight: 500;
}
.navbar-custom .navbar-nav .nav-link:hover {
	color: rgb(223, 121, 53) !important;
}

/* End navbar */
/* Start Landing Page */

.caption {
	width: 100%;
	max-width: 100%;
	position: absolute;
	top: 35%;
	z-index: 1;
	color: rgb(255, 255, 255);
}

.caption h1 {
	font-size: 50px;
	font-weight: 700;
	text-shadow: 5px 8px 10px rgba(0, 0, 0, 0.16);
	padding-bottom: 1rem;
	animation: DPO 2.5s forwards 0s linear;
}

.caption h3 {
	font-size: 30px;
	font-weight: 400;
	padding-bottom: 2.9rem;
}

.btn-lg {
	background: rgb(255, 145, 85);
	border-width: 0px;
	border-radius: 59px;
	padding: 1rem 1.5rem;
	font-size: 1.1rem;
	margin: 1rem 1rem;
	box-shadow: 8px 7px 10px rgba(0, 0, 0, 16%);
}
.btn-lg2 {
	background: rgb(255, 145, 85);
	border-width: 0px;
	border-radius: 59px;
	padding: 1rem 2.5rem;
	font-size: 1.1rem;
	margin: 5rem 1rem;
	box-shadow: 8px 7px 10px rgba(0, 0, 0, 16%);
}

@keyframes DPO{
    0%{
        opacity: 0;
        }
    50%{
        opacity: 0.5;
        }
    100%{
        opacity: 1;
        }
}
/* End Landing Page */
/* Start Services section */

	.heading{
	font-weight: 700;
	text-shadow: 5px 8px 10px rgba(0, 0, 0, 0.16);
	}

	.card{
		background: rgba(192, 113, 11, 0.55);
		border-radius: 10px;
		border: none;
		height: 700px;
		box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.24);
	}

	.card-title{
		padding-top: 1rem;
	}

	.heading-underline {
		width: 5rem;
		height: .1rem;
		background-color: rgb(255, 145, 85);
		margin: 1rem auto;
	}

	.feature{
		padding: 1.7rem;
	}



/* End Services section */
/* Start Contacts Section */

/* End Contacts Section */













/* Start footer Section */
footer {
	color: rgb(0, 0, 0);
	width: 100%;
	background: rgba(255, 255, 255, 0.55) !important;
}

footer p{
	padding: 0 !important;
	margin: 0;
	font-size: 11px;
}

/* End footer Section */



@media (max-width: 767px) {
	body{
		background: url('../img/bgm.png');
		background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
	}
	.caption h1 {
		font-size: 2.3rem;
		letter-spacing: .15rem;
		padding-bottom: .5rem;
	}

	.caption h3 {
		font-size: 1.2rem;
		padding-bottom: 1rem;
	}


	.narrow h1 {
		font-size: 1.5rem;
	}
	.clients img {
		max-width: 50%;
		display: block;
		margin: 0 auto;
	}
}















